
.container {
    margin: 10px;
}
  
.item {
    border-radius: .2em;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 2em;
    padding: 4em 1em;
}
  
.score-card {
    background-color: #009169;
}
  
.leader-board {
    background-color: #55b296;
}

.centre {
    text-align: center
}